@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/roboto-300.woff2") format("woff2"),
    url("../fonts/roboto-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/roboto-400.woff2") format("woff2"),
    url("../fonts/roboto-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../fonts/roboto-500.woff2") format("woff2"),
    url("../fonts/roboto-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/roboto-700.woff2") format("woff2"),
    url("../fonts/roboto-700.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/playfair-display-400.woff2") format("woff2"),
    url("../fonts/playfair-display-400.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/playfair-display-700.woff2") format("woff2"),
    url("../fonts/playfair-display-700.woff") format("woff");
}

@font-face {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/prata-400.woff2") format("woff2"),
    url("../fonts/prata-400.woff") format("woff");
}
