// fonts
$font-family-primary: 'Roboto', 'Arial', sans-serif;
$font-family-secondary: 'Playfair Display', 'Times New Roman', serif;
$font-family-tertiary: 'Prata', 'Times New Roman', serif;

$font-size-default: 16px;
$line-height-default: 1.5;


// viewports
$mobile-width: 320px;
