@use "../variables" as var;
@use "../mixins";

// Градиентый фон и круги
$background-gradiend: linear-gradient(to right,
    var.$color-background-light-3 min(65%, 468px),
    var.$color-background-extra-light min(65%, 468px),
  );

$background-small-circle-size: 366px;
$background-small-circle-radius: calc($background-small-circle-size / 2);
$small-circle: radial-gradient(transparent $background-small-circle-radius - 1px,
    var.$color-special-1 $background-small-circle-radius - 1px,
    var.$color-special-1 $background-small-circle-radius,
    transparent $background-small-circle-radius,
  );

$background-big-circle-size: 744px;
$background-big-circle-radius: calc($background-big-circle-size / 2);
$big-circle: radial-gradient(transparent $background-big-circle-radius - 1px,
    var.$color-special-1 $background-big-circle-radius - 1px,
    var.$color-special-1 $background-big-circle-radius,
    transparent $background-big-circle-radius,
  );

.about {
  display: flex;
  padding: 52px min(177px, 12.2vw);

  background-image:
    $small-circle,
    $big-circle,
    $background-gradiend;
  background-repeat: no-repeat;
  background-size:
    $background-small-circle-size $background-small-circle-size,
    $background-big-circle-size $background-big-circle-size,
    100% 100%;
  background-position:
    top -150px right -150px,
    top 20px right -520px,
    top left;

  @media (max-width: var.$tablet-max-width) {
    @include mixins.centralizer;

    display: block;
  }

  @media (max-width: var.$mobile-max-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: var.$slider-mobile-break-point) {
    padding-top: 0;
    background: var.$color-background-extra-light;
  }
}

.about__slider {
  margin-right: 70px;

  @media (max-width: var.$tablet-max-width) {
    margin: 0 auto 50px;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 380px;

  @media (max-width: var.$tablet-max-width) {
    max-width: 600px;
    margin: 0 auto;
  }

  @media (max-width: var.$mobile-max-width) {
    @include mixins.centralizer;
  }
}

.about__title {
  @include mixins.title-default;

  margin: 0;
  margin-bottom: 38px;

  @media (max-width: var.$tablet-max-width) {
    text-align: center;
  }
}

.about__text {
  margin: 0;
  margin-bottom: 15px;

  color: var.$color-background-dark;

  @media (max-width: var.$tablet-max-width) {
    text-align: center;
  }
}

.about__link {
  margin-top: 30px;
  margin-right: auto;

  @media (max-width: var.$tablet-max-width) {
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
  }
}
