@use "../variables" as var;
@use "../mixins";

.button {
  display: inline-block;
  max-width: 400px;
  margin: 0;
  padding: 26px 38px;

  @include mixins.font(
    var.$font-family-primary,
    12px,
    1.2,
  );

  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-wrap: break-word;
  color: #ffffff;

  background-color: var.$color-background-dark;
  border: none;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }

  &--secondary {
    background-color: var.$color-special-1;
  }
}
