@use "../variables" as var;
@use "../mixins";

.footer {
  color: var.$color-text-light;
  font-size: 12px;
  line-height: 1.2;

  background-color: var.$color-background-dark;

  @media (max-width: var.$tablet-max-width) {
    font-size: 16px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, auto));
  gap: 50px;
  justify-content: space-between;

  padding: 73px 185px 67px;

  @media (max-width: var.$tablet-max-width) {
    padding: 50px 85px;

    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    justify-content: center;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 30px;
}

.footer__text {
  display: block;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
