@use "../variables" as var;

.header {
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 1.2;

  @media (max-width: var.$mobile-max-width) {
    position: relative;
    z-index: 2;
    min-height: 62px;
  }
}
