@use "../variables" as var;
@use "../mixins";

.links-group__title {
  max-width: 210px;
  margin: 0;
  margin-bottom: 33px;
  padding-top: 6px;

  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width: var.$tablet-max-width) {
    margin-bottom: 18px;
    font-size: 18px;
  }

  @media (max-width: var.$mobile-max-width) {
    padding-top: 0;
  }
}

.links-group__list {
  @include mixins.list-style-reset;
}

.links-group__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
